/wp-content/uploads/*
# IntelliJ project files
.idea
*.iml
*.ini
*.log
*.zip
*.rar
*.phar
.*
!.gitignore
/vendor
/node_modules
wp-config.php
webpack.config.js
/bower_components/
/node_modules/
/robots.txt
.htaccess
.htpasswd
/mix-manifest.json
/wp-content/themes/flexible-theme-wp/dist/
/wp-content/debug.log
/wp-content/cache/*
/wp-content/w3tc-config/
/wp-content/backups-dup-lite/*
/wp-content/uploads-webpc/*
/wp-content/wphb-cache/*
/wp-content/wphb-logs/*
/wp-content/object-cache.php


nginx.conf
google*.html
yandex*.html
wmail*.html
sp-push-worker-fb.js
sp-push-manifest.json
wp-cli.phar
composer.phar
advanced-cache.php